---
main_col_width: 10
---


{% include head.html %}
	{% include header.html %}
    <div class="wrapper">
      <section class="row">
        {% unless page.sidebar %}
      	<div id="page-list" class="large-{{ 12 | minus:page.main_col_width }} small-12 column">
      		{% include pagelist.html %}
      	</div>
        {% endunless %}
        {% if page.sidebar %}
        <div class="large-12 small-12 column">
        {% else %}
        <div class="large-{{ page.main_col_width }} small-12 column">
        {% endif %}
          {{ content }}
        {% if page.comments %}
          <hr>
          {% include comments.html %}
        {% endif %}
        </div>
      </section>
    </div>
    {% include footer.html %}
{% include foot.html %}